/* ================ page css ================ */
body {
	font-size: 14px;
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	min-width: 1170px;
}

.container {
	width: 1170px !important;
}

/* ================ header css ================ */
.header {
	border-top: 5px solid #67AD03;
	background: #F5F5F5;
}

h1.logo { /* this represents logo */
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1.logo > a {
    display: block;
    padding-left: 130px;
    height: 60px;
    line-height: 60px;
    font-size: 19px;
    color: #070916;
    font-weight: bold;
}

h1.logo > a:hover {
	text-decoration: none;
}

.header .welcome {
	float: right;
	margin: 40px 15px 5px 0px;
}

.header .welcome > a {
	font-weight: bold;
}

/* ================ login page css ================ */
#banner {
	background-size: auto;
	background-color: rgb(7, 9, 22);
}

#banner .container {
	height: 460px;
	position: relative;
}

#login-panel {
	position: absolute;
	top: 25px;
	right: 25px;
	padding: 25px 35px 20px;
}

#login-panel h2 {
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	font-size: 18px;
	color: #555;
	margin: 3px 0px 12px;
}

#login-panel .alert {
	margin-bottom: 5px;
}

#login-panel .form-control {
	height: 46px;
}

#login-panel .input-group-lg {
	width: 360px; 
	margin: 5px 0px;
}

#login-panel .form-inline {
	margin-top: 20px; 
	margin-bottom: 30px;
}