/* ================ page css ================ */
body {
	font-size: 14px;
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	min-width: 1170px;
}

.container {
	width: 1170px !important;
}

/* ================ header css ================ */
.header {
	border-top: 5px solid #67AD03;
	background: #F5F5F5;
}

h1.logo { /* this represents logo */
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1.logo > a {
    display: block;
    padding-left: 130px;
    height: 60px;
    line-height: 60px;
    font-size: 19px;
    color: #070916;
    font-weight: bold;
}

h1.logo > a:hover {
	text-decoration: none;
}

.header .welcome {
	float: right;
	margin: 40px 15px 5px 0px;
}

.header .welcome > a {
	font-weight: bold;
}

/* ================ login page css ================ */
#banner {
	background-size: auto;
	background-color: rgb(7, 9, 22);
}

#banner .container {
	height: 460px;
	position: relative;
}

#login-panel {
	position: absolute;
	top: 25px;
	right: 25px;
	padding: 25px 35px 20px;
}

#login-panel h2 {
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	font-size: 18px;
	color: #555;
	margin: 3px 0px 12px;
}

#login-panel .alert {
	margin-bottom: 5px;
}

#login-panel .form-control {
	height: 46px;
}

#login-panel .input-group-lg {
	width: 360px; 
	margin: 5px 0px;
}

#login-panel .form-inline {
	margin-top: 20px; 
	margin-bottom: 30px;
}
/* ================ main layout css ================ */

.main-content {
	margin-top: 15px;
}

.beast-panel > .panel-heading,
.beast-panel > .panel-footer {
  color: #777;
  font-weight: bold;
  border-color: #D5D5D5;
  background-color: #e5e5e5; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */
}

.beast-panel-layout > .panel-body {
	border-top: 1px solid #FFF;
	background: #EFEFEF;
	padding: 0px;
	overflow: hidden;
	min-height: 688px;
}

.beast-panel-layout > .panel-body > .beast-panel-layout-left {
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 25px;
	padding-right: 20px;
	border-right: 1px solid #CCC;
	margin-bottom: -9999px; /* This is to make the height auto aligned */
	padding-bottom: 9999px;
}

.beast-panel-layout > .panel-body > .beast-panel-layout-right {
	padding: 15px 20px;
	border-left: 1px solid #FFF;
	margin-bottom: -9999px; /* This is to make the height auto aligned */
	padding-bottom: 9999px; 
}

.beast-panel-layout > .panel-body > .no-horizontal-padding {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
}

.beast-panel > .panel-heading > .breadcrumb {
	border: 0px;
	background-color: transparent;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.beast-panel > .panel-heading > .breadcrumb > li + li:before {
    color: #777;
    content: "- ";
}

.beast-panel > .panel-heading > .breadcrumb > li > a:hover {
	text-decoration: none;
}

/* ================ breadcrumb css ================ */

.beast-breadcrumb-wrapper {
	position: relative;
}

.beast-breadcrumb {
	border-bottom: 3px solid #DFDFDF; /* may change here for other color */
	margin-bottom: 15px;
}

.beast-breadcrumb > h2 {
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	line-height: 40px; 
	border-bottom: 3px solid #76ACD6; 
	float: left; 
	font-size: 15px; 
	font-weight: normal;
	margin-top: 0px; 
	margin-bottom: -3px; 
	padding: 0px 15px;
	color: #222;  /* may change here for other color */
}

